<%- include("_header") -%>

<h1>Customer Update</h1>

<form action="/edit/<%= model.cusid %>" method="post">
    <div class="form-horizontal">

        <%- include("_editor") -%>
        <div class="form-group row">
            <label class="col-form-label col-sm-2"></label>
            <div class="col-sm-10">
                <input type="submit" value="Update Customer" class="btn btn-default btn-warning" />
            </div>
        </div>
    </div>
</form>

<% if(type==="POST" ) { %>
    <% if (count===1) {%>
        <h3>Customer Updated Successfully!</h3>
        <% } else { %>
            <h3>Error!</h3>
            <p>
                <%= count %>
            </p>
        <%} %>
<% } %>


<%- include("_footer") -%>